{% load static %}
<!-- header -->
<header class="main-header">
    <!-- top bar -->
    <div class="top-bar fl-wrap">
        <div class="container">
            <div class="date-holder">
                <span class="date_num"></span>
                <span class="date_mounth"></span>
                <span class="date_year"></span>
            </div>
            <div class="header_news-ticker-wrap">
                <div class="hnt_title">Hot News :</div>
                <div class="header_news-ticker fl-wrap">
                    <ul>
                        {% for news in navbar %}
                        <li><a href="post-single.html">Hey {{ news.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="n_contr-wrap">
                    <div class="n_contr p_btn"><i class="fas fa-caret-left"></i></div>
                    <div class="n_contr n_btn"><i class="fas fa-caret-right"></i></div>
                </div>
            </div>
            <ul class="topbar-social">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- top bar end -->
    <div class="header-inner fl-wrap">
        <div class="container">
            <!-- logo holder  -->
            {% if settings.logo %}
            <a href="{% url 'index' %}" class="logo-holder"><img src="{{ settings.logo.url }}" alt=""></a>
            {% else %}
            <a href="{% url 'index' %}" class="logo-holder"><img src="{% static 'images/logo.png' %}" alt=""></a>
            {% endif %}
            <!-- logo holder end -->
            <div class="search_btn htact show_search-btn"><i class="far fa-search"></i> <span class="header-tooltip">Search</span></div>
            <div class="srf_btn htact show-reg-form"><i class="fal fa-user"></i> <span class="header-tooltip">Sign In</span></div>
            
            <!-- header-search-wrap -->
            <div class="header-search-wrap novis_sarch">
                <div class="widget-inner">
                    <form action="#">
                        <input name="se" id="se" type="text" class="search" placeholder="Search..." value="" />
                        <button class="search-submit" id="submit_btn"><i class="fa fa-search transition"></i> </button>
                    </form>
                </div>
            </div>
            <!-- header-search-wrap end -->
            <!-- header-cart_wrap  -->
            <div class="header-cart_wrap novis_cart">
                <div class="header-cart_title">Your Cart <span><strong>2</strong> items</span></div>
                <div class="header-cart_wrap_container fl-wrap">
                    <div class="box-widget-content">
                        <div class="widget-posts fl-wrap">
                            <ol>
                                <li class="clearfix">
                                    <a href="#" class="widget-posts-img"><img src="{% static 'images/shop/1.jpg' %}" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title="">Awesome Merch Wallet</a>
                                        <div class="widget-posts-descr_calc clearfix">1 <span>x</span> $845</div>
                                    </div>
                                    <div class="clear-cart_button"><i class="far fa-times"></i></div>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="widget-posts-img"><img src="{% static 'images/shop/2.jpg' %}" class="respimg" alt=""></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" title="">Gmag Merch Wallet</a>
                                        <div class="widget-posts-descr_calc clearfix">2 <span>x</span> $222</div>
                                    </div>
                                    <div class="clear-cart_button"><i class="fal fa-times"></i></div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="header-cart_wrap_total fl-wrap">
                    <div class="header-cart_wrap_total_item">Subtotal : <span>$1559</span></div>
                </div>
                <div class="header-cart_wrap_footer fl-wrap">
                    <a href="cart.html"> View Cart</a>
                    <a href="checkout.html"> Checkout</a>
                </div>
            </div>
            <!-- header-cart_wrap end  -->
            <!-- nav-button-wrap-->
            <div class="nav-button-wrap">
                <div class="nav-button">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <!-- nav-button-wrap end-->
            <!--  navigation -->
            <div class="nav-holder main-menu">
                <nav>
                    <ul>
                        <li><a href="blog.html">Домой</a></li>
                        <li>
                            <a href="#">Категории<i class="fas fa-caret-down"></i></a>
                            <!--second level -->
                            <ul>
                                {% for category in categories %}
                                <li><a href="blog.html">{{ category.title }}}</a></li>
                                {% endfor %}
                            </ul>
                            <!--second level end-->
                        </li>
                        <li><a href="blog.html">О нас</a></li>
                        <li><a href="blog.html">Контакты</a></li>
                        
                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
        </div>
    </div>
</header>
<!-- header end  -->