{% extends 'post-single.html' %}
{% block content %}
{% load static %}
<!--section   -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main-container fl-wrap fix-container-init">
                    <!-- single-post-header  -->
                    <div class="single-post-header fl-wrap">
                        <a class="post-category-marker" href="category.html">{{ news.category }}</a>
                        <div class="clearfix"></div>
                        <h1>{{ news.title }}</h1>
                        <h4>{{ news.description | truncatewords:10 }}</h4>
                        <div class="clearfix"></div>
                        <div class="author-link"><a href="author-single.html"><img src="{{ user.profile_image.url }}" alt="">  <span>{{ news.user }}</span></a></div>
                        <span class="post-date"><i class="far fa-clock"></i> {{ news.created }}</span>
                        <ul class="post-opt">
                            <li><i class="far fa-comments-alt"></i> {{ news.news_comment.all.count }} </li>
                            <li><i class="fal fa-eye"></i>  10 </li>
                        </ul>
                    </div>
                    <!-- single-post-header end   -->
                    <!-- single-post-media   -->
                    <div class="single-post-media fl-wrap">
                        <div class="single-slider-wrap fl-wrap">
                            <div class="single-slider fl-wrap">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper lightgallery">
                                        {% for image in news.post_image.all %}
                                        <!-- swiper-slide   -->
                                        <div class="swiper-slide hov_zoom">
                                            <img src="{{ image.image.url }}" alt="">
                                            <a href="images/all/20.jpg" class="box-media-zoom   popup-image"><i class="fas fa-search"></i></a>
                                            <span class="post-media_title pmd_vis">© Image Copyrights Title</span>
                                        </div>
                                        <!-- swiper-slide end   -->
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="ss-slider-controls2">
                                <div class="ss-slider-pagination pag-style"></div>
                            </div>
                            <div class="ss-slider-cont ss-slider-cont-prev"><i class="fas fa-caret-left"></i></div>
                            <div class="ss-slider-cont ss-slider-cont-next"><i class="fas fa-caret-right"></i></div>
                        </div>
                    </div>
                    <!-- single-post-media end   -->
                    <!-- single-post-content   -->
                    <div class="single-post-content spc_column fl-wrap">
                        <div class="single-post-content_column">
                            <div class="share-holder ver-share fl-wrap">
                                <div class="share-title">Share This <br> Article:</div>
                                <div class="share-container  isShare"></div>
                            </div>
                        </div>
                        <div class="fs-wrap smpar fl-wrap">
                            <div class="fontSize"><span class="fs_title">Font size: </span><input type="text" class="rage-slider" data-step="1" data-min="12" data-max="15" value="15"></div>
                            <div class="show-more-snopt smact"><i class="fal fa-ellipsis-v"></i></div>
                            <div class="show-more-snopt-tooltip">
                                <a href="#comments" class="custom-scroll-link"> <i class="fas fa-comment-alt"></i> Write a Comment</a>
                                <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                            </div>
                            <a class="print-btn" href="javascript:window.print()" data-microtip-position="bottom"><span>Print</span><i class="fal fa-print"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="single-post-content_text" id="font_chage">
                            <p class="has-drop-cap"></p>
                            <h4 class="mb_head">{{ news.title }}</h4>
                            <p>{{ news.description }}</p>
                            {% for image in news.post_image.all  %}
                            {% if forloop.counter == 2  %}
                            <div class="col-md-10"><img src="{{ image.image.url }}" alt="" class="respimg"></div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="single-post-footer fl-wrap">
                            <div class="post-single-tags">
                                <span class="tags-title"><i class="fas fa-tag"></i> Tags : </span>
                                <div class="tags-widget">
                                    {% if tags.title %}
                                    {% for tag in tags %}
                                    <a href="#">{{ tag.title }}</a>
                                    {% endfor %} 
                                    {% else %}
                                    <a href="#">Нет тега</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- single-post-nav"   -->
                        <div class="single-post-nav fl-wrap">
                            <a href="post-single.html" class="single-post-nav_prev spn_box">
                                <div class="spn_box_img">
                                    <img src="{% static 'images/all/2.jpg' %}" class="respimg" alt="">
                                </div>
                                <div class="spn-box-content">
                                    <span class="spn-box-content_subtitle"><i class="fas fa-caret-left"></i> Prev Post</span>
                                    <span class="spn-box-content_title">New VR Glasses and Headset System Release</span>
                                </div>
                            </a>
                            <a href="post-single.html" class="single-post-nav_next spn_box">
                                <div class="spn_box_img">
                                    <img src="{% static 'images/all/20.jpg' %}" class="respimg" alt="">
                                </div>
                                <div class="spn-box-content">
                                    <span class="spn-box-content_subtitle">Next Post <i class="fas fa-caret-right"></i></span>
                                    <span class="spn-box-content_title">$310m to help businesses in latest Lockdow</span>
                                </div>
                            </a>
                        </div>
                        <!-- single-post-nav"  end   -->
                    </div>
                    <!-- single-post-content  end   -->
                    <div class="limit-box2 fl-wrap"></div>
                    <!-- post-author-->                                   
                    <div class="post-author fl-wrap">
                        <div class="author-img">
                            <img src="{% static 'images/avatar/2.jpg' %}" alt="">	
                        </div>
                        <div class="author-content fl-wrap">
                            <h5>Written By <a href="author-single.html">{{ news.user }}</a></h5>
                            <p>At one extremity the rope was unstranded, and the separate spread yarns were all braided and woven round the socket of the harpoon; the pole was then driven hard up into the socket..</p>
                        </div>
                        <div class="profile-card-footer fl-wrap">
                            <a href="author-single.html" class="post-author_link">Просмотреть профиль <i class="fas fa-caret-right"></i></a>
                            <div class="profile-card-footer_soc">
                                <div class="profile-card-footer_title">Follow: </div>
                                <div class="profile-card-social">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--post-author end-->		
                    <div class="more-post-wrap  fl-wrap">
                        <div class="pr-subtitle prs_big">Последние новости</div>
                        <div class="list-post-wrap list-post-wrap_column fl-wrap">
                            <div class="row">
                                {% for news in related_news %}
                                <div class="col-md-6">
                                    <!--list-post-->	
                                    <div class="list-post fl-wrap">
                                        <a class="post-category-marker" href="category.html">{{ news.category }}</a>
                                        <div class="list-post-media">
                                            <a href="post-single.html">
                                                <div class="bg-wrap">
                                                    {% for image in news.post_image.all  %}
                                                    <div class="bg" data-bg="{{ image.image.url }}"></div>
                                                    {% endfor %}
                                                </div>
                                            </a>
                                            <span class="post-media_title">&copy; Image Copyrights Title</span>
                                        </div>
                                        <div class="list-post-content">
                                            <h3><a href="post-single.html">{{ news.title }}</a></h3>
                                            <span class="post-date"><i class="far fa-clock"></i>  {{ news.created }}</span>
                                        </div>
                                    </div>
                                    <!--list-post end-->
                                </div>
                                {% endfor %}						  
                            </div>
                        </div>
                    </div>
                    <!--comments  -->
                    <div id="comments" class="single-post-comm fl-wrap">
                        <div class="pr-subtitle prs_big">Commnets <span>3</span></div>
                        <ul class="commentlist clearafix">
                            <li class="comment">
                                <div class="comment-author">
                                    <img alt="" src="images/avatar/2.jpg" width="50" height="50">
                                </div>
                                <div class="comment-body smpar">
                                    <h4><a href="#">Kevin Antony</a></h4>
                                    <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                                    <div class="show-more-snopt-tooltip bxwt">
                                        <a href="#"> <i class="fas fa-reply"></i> Reply</a>
                                        <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
                                    <a class="comment-reply-link" href="#"><i class="fas fa-reply"></i> Reply</a>
                                    <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                                    <div class="comment-body_dec"></div>
                                </div>
                            </li>
                            <li class="comment comment_reply">
                                <div class="comment-author">
                                    <img alt="" src="{% static 'images/avatar/4.jpg' %}" width="50" height="50">
                                </div>
                                <div class="comment-body smpar">
                                    <h4><a href="#">Liza Rose</a></h4>
                                    <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                                    <div class="show-more-snopt-tooltip bxwt">
                                        <a href="#"> <i class="fas fa-reply"></i> Reply</a>
                                        <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                                    <a class="comment-reply-link" href="#"><i class="fas fa-reply"></i> Reply</a>
                                    <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                                    <div class="comment-body_dec"></div>
                                </div>
                            </li>
                            <li class="comment">
                                <div class="comment-author">
                                    <img alt="" src="{% static 'images/avatar/4.jpg' %}" width="50" height="50">
                                </div>
                                <div class="comment-body smpar">
                                    <h4><a href="#">Liza Rose</a></h4>
                                    <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                                    <div class="show-more-snopt-tooltip bxwt">
                                        <a href="#"> <i class="fas fa-reply"></i> Reply</a>
                                        <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                                    <a class="comment-reply-link" href="#"><i class="fas fa-reply"></i> Reply</a>
                                    <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                                    <div class="comment-body_dec"></div>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div id="addcom" class="clearafix">
                            <div class="pr-subtitle"> Leave A Comment <i class="fas fa-caret-down"></i></div>
                            <div class="comment-reply-form fl-wrap">
                                <form id="add-comment" class="add-comment custom-form">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Your Name *" value="" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Email Address*" value="" />
                                            </div>
                                        </div>
                                        <textarea placeholder="Your Comment:"></textarea>
                                    </fieldset>
                                    <button class="btn float-btn color-btn">  Submit Comment <i class="fas fa-caret-right"></i> </button>
                                </form>
                            </div>
                        </div>
                        <!--end respond-->
                    </div>
                    <!--comments end -->					  
                </div>
            </div>
            <div class="col-md-4">
                <!-- sidebar   -->
                <div class="sidebar-content fl-wrap fixed-bar">
                    <!-- box-widget -->
                    <div class="box-widget fl-wrap">
                        <div class="box-widget-content">
                            <div class="search-widget fl-wrap">
                                <form action="#">
                                    <input name="se" id="se12" type="text" class="search" placeholder="Search..." value="" />
                                    <button class="search-submit2" id="submit_btn12"><i class="far fa-search"></i> </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- box-widget  end -->						
                    	
                    <!-- box-widget -->
                    <div class="box-widget fl-wrap">
                        <div class="widget-title">Categories</div>
                        <div class="box-widget-content">
                            <ul class="cat-wid-list">
                                {% for category in categories %}
                                <li><a href="#">{{category.title}}</a><span>{{ category.category_post.all.count }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- box-widget  end -->
                    <!-- box-widget -->
                    <div class="box-widget fl-wrap">
                        <div class="widget-title">Popular Tags</div>
                        <div class="box-widget-content">
                            <div class="tags-widget">
                                <a href="#">Science</a>
                                <a href="#">Politics</a>
                                <a href="#">Technology</a>
                                <a href="#">Business</a>
                                <a href="#">Sports</a>
                                <a href="#">Food</a>
                            </div>
                        </div>
                    </div>
                    <!-- box-widget  end -->						
                    <!-- box-widget -->
                    <div class="box-widget fl-wrap">
                        <div class="widget-title">Follow Us</div>
                        <div class="box-widget-content">
                            <div class="social-widget">
                                <a href="#" target="_blank" class="facebook-soc">
                                <i class="fab fa-facebook-f"></i>
                                <span class="soc-widget-title">Likes</span>
                                <span class="soc-widget_counter">2640</span>
                                </a>
                                <a href="#" target="_blank" class="twitter-soc">
                                <i class="fab fa-twitter"></i>
                                <span class="soc-widget-title">Followers</span>
                                <span class="soc-widget_counter">1456</span>												
                                </a> 
                                <a href="#" target="_blank" class="youtube-soc">
                                <i class="fab fa-youtube"></i>
                                <span class="soc-widget-title">Followers</span>
                                <span class="soc-widget_counter">1456</span>												
                                </a> 												
                                <a href="#" target="_blank" class="instagram-soc">
                                <i class="fab fa-instagram"></i>
                                <span class="soc-widget-title">Followers</span>
                                <span class="soc-widget_counter">1456</span>												
                                </a> 														
                            </div>
                        </div>
                    </div>
                    <!-- box-widget  end -->						
                    <!-- box-widget -->
                    <div class="box-widget fl-wrap">
                        <div class="box-widget-content">
                            <!-- content-tabs-wrap -->
                            <div class="content-tabs-wrap tabs-act tabs-widget fl-wrap">
                                <div class="content-tabs fl-wrap">
                                    <ul class="tabs-menu fl-wrap no-list-style">
                                        <li class="current"><a href="#tab-popular"> Popular News </a></li>
                                        <li><a href="#tab-resent">Resent News</a></li>
                                    </ul>
                                </div>
                                <!--tabs -->                       
                                <div class="tabs-container">
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="tab-popular" class="tab-content first-tab">
                                            <div class="post-widget-container fl-wrap">
                                                <!-- post-widget-item -->
                                                <div class="post-widget-item fl-wrap">
                                                    <div class="post-widget-item-media">
                                                        <a href="post-single.html"><img src="{% static 'images/all/thumbs/1.jpg' %}"  alt=""></a>
                                                    </div>
                                                    <div class="post-widget-item-content">
                                                        <h4><a href="post-single.html">How to start Home education.</a></h4>
                                                        <ul class="pwic_opt">
                                                            <li><span><i class="far fa-clock"></i> 25 may 2022</span></li>
                                                            <li><span><i class="far fa-comments-alt"></i> 12</span></li>
                                                            <li><span><i class="fal fa-eye"></i> 654</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- post-widget-item end -->
                                                <!-- post-widget-item -->
                                                <div class="post-widget-item fl-wrap">
                                                    <div class="post-widget-item-media">
                                                        <a href="post-single.html"><img src="{% static 'images/all/thumbs/2.jpg' %}"  alt=""></a>
                                                    </div>
                                                    <div class="post-widget-item-content">
                                                        <h4><a href="post-single.html">The secret to moving this   screening.</a></h4>
                                                        <ul class="pwic_opt">
                                                            <li><span><i class="far fa-clock"></i> 13 april 2021</span></li>
                                                            <li><span><i class="far fa-comments-alt"></i> 6</span></li>
                                                            <li><span><i class="fal fa-eye"></i> 1227</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- post-widget-item end -->														
                                                <!-- post-widget-item -->
                                                <div class="post-widget-item fl-wrap">
                                                    <div class="post-widget-item-media">
                                                        <a href="post-single.html"><img src="{% static 'images/all/thumbs/3.jpg' %}"  alt=""></a>
                                                    </div>
                                                    <div class="post-widget-item-content">
                                                        <h4><a href="post-single.html">Fall ability to keep Congress on rails.</a></h4>
                                                        <ul class="pwic_opt">
                                                            <li><span><i class="far fa-clock"></i> 02 December 2021</span></li>
                                                            <li><span><i class="far fa-comments-alt"></i> 12</span></li>
                                                            <li><span><i class="fal fa-eye"></i> 654</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- post-widget-item end -->														
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab  end-->
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="tab-resent" class="tab-content">
                                            <div class="post-widget-container fl-wrap">
                                                <!-- post-widget-item -->
                                                <div class="post-widget-item fl-wrap">
                                                    <div class="post-widget-item-media">
                                                        <a href="post-single.html"><img src="{% static 'images/all/thumbs/5.jpg' %}"  alt=""></a>
                                                    </div>
                                                    <div class="post-widget-item-content">
                                                        <h4><a href="post-single.html">Magpie nesting zone sites.</a></h4>
                                                        <ul class="pwic_opt">
                                                            <li><span><i class="far fa-clock"></i> 05 april 2021</span></li>
                                                            <li><span><i class="far fa-comments-alt"></i> 16</span></li>
                                                            <li><span><i class="fal fa-eye"></i> 727</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- post-widget-item end -->														
                                                <!-- post-widget-item -->
                                                <div class="post-widget-item fl-wrap">
                                                    <div class="post-widget-item-media">
                                                        <a href="post-single.html"><img src="{% static 'images/all/thumbs/6.jpg' %}"  alt=""></a>
                                                    </div>
                                                    <div class="post-widget-item-content">
                                                        <h4><a href="post-single.html">Locals help create whole new community.</a></h4>
                                                        <ul class="pwic_opt">
                                                            <li><span><i class="far fa-clock"></i> 22 march 2021</span></li>
                                                            <li><span><i class="far fa-comments-alt"></i> 31</span></li>
                                                            <li><span><i class="fal fa-eye"></i> 63</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- post-widget-item end -->														
                                                <!-- post-widget-item -->
                                                <div class="post-widget-item fl-wrap">
                                                    <div class="post-widget-item-media">
                                                        <a href="post-single.html"><img src="{% static 'images/all/thumbs/7.jpg' %}"  alt=""></a>
                                                    </div>
                                                    <div class="post-widget-item-content">
                                                        <h4><a href="post-single.html">Tennis season still to proceed.</a></h4>
                                                        <ul class="pwic_opt">
                                                            <li><span><i class="far fa-clock"></i> 06 December 2021</span></li>
                                                            <li><span><i class="far fa-comments-alt"></i> 05</span></li>
                                                            <li><span><i class="fal fa-eye"></i> 145</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- post-widget-item end -->													
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab end-->							
                                </div>
                                <!--tabs end-->  
                            </div>
                            <!-- content-tabs-wrap end -->
                        </div>
                    </div>
                    <!-- box-widget  end -->					
                </div>
                <!-- sidebar  end -->
            </div>
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
</section>
<!-- section end -->
{% endblock %}