{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="wrapper">
    <!-- content    -->
    <div class="content">
        <!-- hero-slider-wrap     -->
        <div class="hero-slider-wrap fl-wrap">
            <!-- hero-slider-container     -->
            <div class="hero-slider-container multi-slider fl-wrap full-height">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- swiper-slide -->
                        {% for post in news_slide %}
                        <div class="swiper-slide">
                            <div class="bg-wrap">
                                {% for image in post.post_image.all %}
                                <div class="bg" data-bg="{{ image.image.url }}" data-swiper-parallax="40%"></div>
                                {% endfor %}
                                <div class="overlay"></div>
                            </div>
                            <div class="hero-item fl-wrap">
                                <div class="container">
                                    <a class="post-category-marker" href="">{{ post.category }}</a>
                                    <div class="clearfix"></div>
                                    <h2><a href="{% url 'detail_news' post.id %}">{{ post.title }}</a></h2>
                                    <a href="{% url 'detail_news' post.id %}">
                                        <h4>{{ post.description | truncatewords:50 }}</h4>
                                    </a>
                                    <div class="clearfix"></div>
                                    <div class="author-link"><a href="{% url 'detail_news' post.id %}"><img
                                                src="{{ user.profile_image.url }}" alt=""> <span>{{ post.user }}</span></a></div>
                                    <span class="post-date"><i class="far fa-clock"></i>{{ post.created }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="fs-slider_btn color-bg fs-slider-button-prev"><i class="fas fa-caret-left"></i></div>
                <div class="fs-slider_btn color-bg fs-slider-button-next"><i class="fas fa-caret-right"></i></div>
            </div>
            <!-- hero-slider-container  end   -->
            <!-- hero-slider_controls-wrap   -->
            <div class="hero-slider_controls-wrap">
                <div class="container">
                    <div class="hero-slider_controls-list multi-slider_control">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- swiper-slide  -->
                                <div class="swiper-slide">
                                    <div class="hsc-list_item fl-wrap">
                                        <div class="hsc-list_item-media">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="images/all/20.jpg"></div>
                                            </div>
                                        </div>
                                        <div class="hsc-list_item-content fl-wrap">
                                            <h4>Innovations that Bring Pleasure to All Peoples</h4>
                                            <span class="post-date"><i class="far fa-clock"></i> 18 May 2022</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- swiper-slide end   -->
                            </div>
                        </div>
                    </div>
                    <div class="multi-pag"></div>
                </div>
            </div>
            <!-- hero-slider_controls-wrap end  -->
            <div class="slider-progress-bar act-slider">
                <span>
                    <svg class="circ" width="30" height="30">
                        <circle class="circ2" cx="15" cy="15" r="13" stroke="rgba(255,255,255,0.4)" stroke-width="1"
                            fill="none" />
                        <circle class="circ1" cx="15" cy="15" r="13" stroke="#e93314" stroke-width="2" fill="none" />
                    </svg>
                </span>
            </div>
        </div>
        <!-- hero-slider-wrap  end   -->
        <!-- section   -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="main-container fl-wrap fix-container-init">


                            <div class="content-banner-wrap cbw_mar">
                                <img src="{% static 'images/all/banner.jpg' %}" class="respimg" alt="">
                            </div>
                            <div class="clearfix"></div>
                            <div class="section-title sect_dec">
                                <h2>Последние новости</h2>
                                <h4>Не пропустите новые новости</h4>
                            </div>

                            <!--grid-post-item-->
                            <div class="single-grid-slider-wrap fl-wrap">
                                <div class="single-grid-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <!-- swiper-slide-->
                                            {% for post in news_slide %}
                                            <div class="swiper-slide">
                                                <div class="grid-post-item  bold_gpi  fl-wrap">
                                                    <div class="grid-post-media gpm_sing">
                                                        {% for image in post.post_image.all %}
                                                        <div class="bg" href="{% url 'detail_news' post.id %}"
                                                            data-bg="{{ image.image.url }}"></div>
                                                        {% endfor %}
                                                        <div class="author-link"><a href="author-single.html"><img
                                                                    src="{% static 'images/avatar/2.jpg' %}" alt="">
                                                                <span>BY {{ post.user }}</span></a></div>
                                                        <div class="grid-post-media_title">
                                                            <a class="post-category-marker" href="category.html">{{post.category }}</a>
                                                            <h4><a href="{% url 'detail_news' post.id %}">{{ post.title }}</a></h4>
                                                            <span class="video-date"><i class="far fa-clock"></i> {{ post.created }}</span>
                                                            <ul class="post-opt">
                                                                <li><i class="far fa-comments-alt"></i> {{post.news_comment.all.count }} </li>
                                                                <li><i class="fal fa-eye"></i> 164 </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <!-- swiper-slide end-->
                                        </div>
                                        <div class="sgs-pagination sgs_ver "></div>
                                    </div>
                                </div>
                            </div>
                            <!--grid-post-item end-->
                            <div class="more-post-wrap  fl-wrap">
                                <div class="list-post-wrap list-post-wrap_column fl-wrap">
                                    <div class="row">
                                        {% for post in news %}
                                        <div class="col-md-6">
                                            <!--list-post-->
                                            <div class="list-post fl-wrap">
                                                <a class="post-category-marker" href="category.html">{{ post.category }}</a>
                                                <div class="list-post-media">
                                                    <a href="{% url 'detail_news' post.id %}">
                                                        <div class="bg-wrap">
                                                            {% for image in post.post_image.all %}
                                                            <div class="bg" data-bg="{{ image.image.url }}"></div>
                                                            {% endfor %}
                                                        </div>
                                                    </a>
                                                    <span class="post-media_title">&copy; Image Copyrights Title</span>
                                                </div>
                                                <div class="list-post-content">
                                                    <h3><a href="{% url 'detail_news' post.id %}">{{ post.title }}</a>
                                                    </h3>
                                                    <span class="post-date"><i class="far fa-clock"></i>{{ post.created }}</span>
                                                </div>
                                            </div>
                                            <!--list-post end-->
                                        </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="blog2.html" class="dark-btn fl-wrap"> Читать все новости </a>
                    </div>
                </div>

            </div>
            <div class="limit-box fl-wrap"></div>
    </div>
    </section>
    <!-- section end -->
    <!-- section  -->
    <section>
        <div class="container">
            <div class="section-title sect_dec">
                <h2>Популярные новости</h2>
                <h4>Cамые просматриваемые новости и последние коментарии</h4>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="list-post-wrap list-post-wrap_column list-post-wrap_column_fw">
                        <!--list-post-->
                        <div class="list-post fl-wrap">
                            <a class="post-category-marker" href="#">Sports</a>
                            <div class="list-post-media">
                                <a href="post-single.html">
                                    <div class="bg-wrap">
                                        <div class="bg" data-bg="images/all/15.jpg"></div>
                                    </div>
                                </a>
                                <span class="post-media_title">&copy; Image Copyrights Title</span>
                            </div>
                            <div class="list-post-content">
                                <h3><a href="post-single.html">Goodwin must Break Clarkson hold </a></h3>
                                <span class="post-date"><i class="far fa-clock"></i> 18 may 2022</span>
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,
                                    consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan
                                    leo vel tempor. </p>
                                <ul class="post-opt">
                                    <li><i class="far fa-comments-alt"></i> 6 </li>
                                    <li><i class="fal fa-eye"></i> 587 </li>
                                </ul>
                                <div class="author-link"><a href="author-single.html"><img
                                            src="{% static 'images/avatar/1.jpg' %}" alt=""> <span>By Jane
                                            Taylor</span></a></div>
                            </div>
                        </div>
                        <!--list-post end-->
                    </div>
                    <a href="blog2.html" class="dark-btn fl-wrap"> Read all News </a>
                </div>
                <div class="col-md-7">
                    <div class="picker-wrap-container fl-wrap">
                        <div class="picker-wrap-controls">
                            <ul class="fl-wrap">
                                <li><span class="pwc_up"><i class="fas fa-caret-up"></i></span></li>
                                <li><span class="pwc_pause"><i class="fas fa-pause"></i></span></li>
                                <li><span class="pwc_down"><i class="fas fa-caret-down"></i></span></li>
                            </ul>
                        </div>
                        <div class="picker-wrap fl-wrap">
                            <div class="list-post-wrap  fl-wrap">
                                <!--list-post-->
                                <div class="list-post fl-wrap">
                                    <div class="list-post-media">
                                        <a href="post-single.html">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="images/all/5.jpg"></div>
                                            </div>
                                        </a>
                                        <span class="post-media_title">&copy; Image Copyrights Title</span>
                                    </div>
                                    <div class="list-post-content">
                                        <a class="post-category-marker" href="#">Sports</a>
                                        <h3><a href="post-single.html">Winton SuperSprint cars cancelled</a></h3>
                                        <span class="post-date"><i class="far fa-clock"></i> 18 may 2022</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt .</p>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 6 </li>
                                            <li><i class="fal fa-eye"></i> 587 </li>
                                        </ul>
                                        <div class="author-link"><a href="author-single.html"><img
                                                    src="{% static 'images/avatar/1.jpg' %}" alt=""> <span>By Jane
                                                    Taylor</span></a></div>
                                    </div>
                                </div>
                                <!--list-post end-->
                                <!--list-post-->
                                <div class="list-post fl-wrap">
                                    <div class="list-post-media">
                                        <a href="post-single.html">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="images/all/48.jpg"></div>
                                            </div>
                                        </a>
                                        <span class="post-media_title">&copy; Image Copyrights Title</span>
                                    </div>
                                    <div class="list-post-content">
                                        <a class="post-category-marker" href="category.html">Science</a>
                                        <h3><a href="post-single.html">Countries at COP26 launch plan for net-zero
                                                shipping lanes</a></h3>
                                        <span class="post-date"><i class="far fa-clock"></i> 15 may 2022</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt .</p>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 5 </li>
                                            <li><i class="fal fa-eye"></i> 456 </li>
                                        </ul>
                                        <div class="author-link"><a href="author-single.html"><img
                                                    src="{% static 'images/avatar/2.jpg' %}" alt=""> <span>By Mark
                                                    Rose</span></a></div>
                                    </div>
                                </div>
                                <!--list-post end-->
                                <!--list-post-->
                                <div class="list-post fl-wrap">
                                    <div class="list-post-media">
                                        <a href="post-single.html">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="images/all/2.jpg"></div>
                                            </div>
                                        </a>
                                        <span class="post-media_title">&copy; Image Copyrights Title</span>
                                    </div>
                                    <div class="list-post-content">
                                        <a class="post-category-marker" href="category.html">Technology</a>
                                        <h3><a href="post-single.html">New VR Glasses and Headset System Release</a>
                                        </h3>
                                        <span class="post-date"><i class="far fa-clock"></i> 15 may 2022</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt .</p>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 5 </li>
                                            <li><i class="fal fa-eye"></i> 456 </li>
                                        </ul>
                                        <div class="author-link"><a href="author-single.html"><img
                                                    src="{% static 'images/avatar/2.jpg' %}" alt=""> <span>By Mark
                                                    Rose</span></a></div>
                                    </div>
                                </div>
                                <!--list-post end-->
                                <!--list-post-->
                                <div class="list-post fl-wrap">
                                    <div class="list-post-media">
                                        <a href="post-single.html">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="images/all/49.jpg"></div>
                                            </div>
                                        </a>
                                        <span class="post-media_title">&copy; Image Copyrights Title</span>
                                    </div>
                                    <div class="list-post-content">
                                        <a class="post-category-marker" href="category.html">Science</a>
                                        <h3><a href="post-single.html">How to start Home renovation.</a></h3>
                                        <span class="post-date"><i class="far fa-clock"></i> 05 April 2022</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt .</p>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 55</li>
                                            <li><i class="fal fa-eye"></i> 987 </li>
                                        </ul>
                                        <div class="author-link"><a href="author-single.html"><img
                                                    src="{% static 'images/avatar/3.jpg' %}" alt=""> <span>By Ann
                                                    Kowalsky</span></a></div>
                                    </div>
                                </div>
                                <!--list-post end-->
                            </div>
                        </div>
                        <div class="controls-limit fl-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="limit-box"></div>
    </section>
    <!-- section end -->
    <!-- section -->
    <section class="no-padding">
        <div class="fs-carousel-wrap">
            <div class="fs-carousel-wrap_title">
                <div class="fs-carousel-wrap_title-wrap fl-wrap">
                    <h4>Trending News</h4>
                    <h5>Don't Miss And Stay Up-to-date. Top pic for you.</h5>
                </div>
                <div class="abs_bg"></div>
                <div class="gs-controls">
                    <div class="gs_button gc-button-next"><i class="fas fa-caret-right"></i></div>
                    <div class="gs_button gc-button-prev"><i class="fas fa-caret-left"></i></div>
                </div>
            </div>
            <div class="fs-carousel fl-wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="grid-post-item  bold_gpi  fl-wrap">
                                <div class="grid-post-media gpm_sing">
                                    <div class="bg" data-bg="images/all/50.jpg"></div>
                                    <div class="author-link"><a href="author-single.html"><img
                                                src="{% static 'images/avatar/2.jpg' %}" alt=""> <span>By Mark
                                                Rose</span></a></div>
                                    <div class="grid-post-media_title">
                                        <a class="post-category-marker" href="category.html">Business</a>
                                        <h4><a href="post-single.html">Envatocoin Vulnerable To Retest 20K Support</a>
                                        </h4>
                                        <span class="video-date"><i class="far fa-clock"></i> 02 March 2022</span>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 7 </li>
                                            <li><i class="fal fa-eye"></i> 88 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="grid-post-item  bold_gpi  fl-wrap">
                                <div class="grid-post-media gpm_sing">
                                    <div class="bg" data-bg="images/all/53.jpg"></div>
                                    <div class="author-link"><a href="author-single.html"><img
                                                src="{% static 'images/avatar/3.jpg' %}" alt=""> <span>By Ann
                                                Kowalsky</span></a></div>
                                    <div class="grid-post-media_title">
                                        <a class="post-category-marker" href="category.html">Technology</a>
                                        <h4><a href="post-single.html">Videos show SpaceX's Dragon capsule as it returns
                                                to Earth</a></h4>
                                        <span class="video-date"><i class="far fa-clock"></i> 13 april 2021</span>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 3 </li>
                                            <li><i class="fal fa-eye"></i> 89</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="grid-post-item  bold_gpi  fl-wrap">
                                <div class="grid-post-media gpm_sing">
                                    <div class="bg" data-bg="images/all/54.jpg"></div>
                                    <div class="author-link"><a href="author-single.html"><img
                                                src="{% static 'images/avatar/2.jpg' %}" alt=""> <span>By Mark
                                                Rose</span></a></div>
                                    <div class="grid-post-media_title">
                                        <a class="post-category-marker" href="category.html">Sports</a>
                                        <h4><a href="post-single.html">Sports season ends with more surprises</a></h4>
                                        <span class="video-date"><i class="far fa-clock"></i> 23 may 2021</span>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 34</li>
                                            <li><i class="fal fa-eye"></i> 567 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="grid-post-item  bold_gpi  fl-wrap">
                                <div class="grid-post-media gpm_sing">
                                    <div class="bg" data-bg="images/all/52.jpg"></div>
                                    <div class="author-link"><a href="author-single.html"><img
                                                src="{% static 'images/avatar/1.jpg' %}" alt=""> <span>By Jane
                                                Taylor</span></a></div>
                                    <div class="grid-post-media_title">
                                        <a class="post-category-marker" href="category.html">Science</a>
                                        <h4><a href="post-single.html">World electric ready to race tomorrow</a></h4>
                                        <span class="video-date"><i class="far fa-clock"></i> 6 april 2021</span>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 25 </li>
                                            <li><i class="fal fa-eye"></i> 164 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <!-- section  -->
    <div class="gray-bg ad-wrap fl-wrap">
        <div class="content-banner-wrap">
            <img src="{% static 'images/all/banner.jpg' %}" class="respimg" alt="">
        </div>
    </div>
    <!-- section end -->
</div>
{% endblock %}