{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Gmag - Blog News Magazine   Template</title>
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <!-- main start  -->
        <div id="main">
            <!-- progress-bar  -->
            <div class="progress-bar-wrap">
                <div class="progress-bar color-bg"></div>
            </div>
            <!-- progress-bar end -->
            {% include 'include/navbar.html' %}
            <!-- wrapper -->
                {% block content %}

                {% endblock %}
                <!-- content  end-->
            {% include 'include/footer.html' %}
                <div class="aside-panel">
                    <ul>
                        <li> <a href="#"><i class="far  fa-podium"></i><span>Politics</span></a></li>
                        <li> <a href="#"><i class="far fa-atom"></i><span>Technology</span></a></li>
                        <li> <a href="#"><i class="far fa-user-chart"></i><span>Business</span></a></li>
                        <li> <a href="#"><i class="far fa-tennis-ball"></i><span>Sports</span></a></li>
                        <li> <a href="#"><i class="far fa-flask"></i><span>Science</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- wrapper end -->
            <!-- cookie-info-bar -->
            <div class="cookie-info-bar">
                <div class="container">
                    <div class="cookie-info-bar_title"><i class="fal fa-cookie"></i>Наш сайт использует файлы cookie. Узнайте больше о том, как мы используем файлы cookie: <a href="#">Политика в отношении файлов cookie</a></div>
                    <a href="#" class="sicb_btn color-bg">Принимать</a> 
                    <a href="#" class="sicb_btn">Отклонять</a> 
                </div>
            </div>
            <!-- cookie-info-bar end -->	
            <!--register form -->
            <div class="main-register-container">
                <div class="reg-overlay close-reg-form"></div>
                <div class="main-register-holder">
                    <div class="main-register-wrap fl-wrap">
                        <div class="main-register_bg">
                            <div class="bg-wrap">
                                <div class="bg par-elem "  data-bg="images/bg/1.jpg"></div>
                                <div class="overlay"></div>
                            </div>
                            <div class="mg_logo"><img src="{% static 'images/logo2.png' %}" alt=""></div>
                        </div>
                        <div class="main-register tabs-act fl-wrap">
                            <ul class="tabs-menu">
                                <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Авторизоваться</a></li>
                                <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Зарегистрироваться</a></li>
                            </ul>
                            <div class="close-modal close-reg-form"><i class="fal fa-times"></i></div>
                            <!--tabs -->
                            <div id="tabs-container">
                                <div class="tab">
                                    <!--tab -->
                                    <div id="tab-1" class="tab-content first-tab">
                                        <div class="custom-form">
                                            <form method="post" name="registerform">
                                                <label>Имя пользователя или адрес электронной почты <span>*</span> </label>
                                                <input name="email" type="text" onClick="this.select()" value="">
                                                <label>Password <span>*</span> </label>
                                                <input name="password" type="password" onClick="this.select()" value="">
                                                <div class="filter-tags">
                                                    <input id="check-a" type="checkbox" name="check" checked>
                                                    <label for="check-a">Запомните меня</label>
                                                </div>
                                                <div class="lost_password">
                                                    <a href="#">Забыли пароль?</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                <button type="submit" class="log-submit-btn color-bg"><span>Авторизоваться</span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--tab end -->
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="tab-2" class="tab-content">
                                            <div class="custom-form">
                                                <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                                    <label>Имя пользователя <span>*</span> </label>
                                                    <input name="name" type="text" onClick="this.select()" value="">
                                                    <label>Адрес электронной почты <span>*</span></label>
                                                    <input name="email" type="text" onClick="this.select()" value="">
                                                    <label>Пароль <span>*</span></label>
                                                    <input name="password" type="password" onClick="this.select()" value="">
                                                    <button type="submit" class="log-submit-btn color-bg"><span>Зарегистрироваться</span></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab end -->
                                </div>
                                <!--tabs end -->
                                <div class="log-separator fl-wrap"><span>or</span></div>
                                <div class="soc-log  fl-wrap">
                                    <p>Для более быстрого входа или регистрации используйте свою учетную запись в социальной сети.</p>
                                    <a href="#"><i class="fab fa-facebook-f"></i>Зайти с помощью Google</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>